<div class="container" >
    <div class="card shadow-sm bg-body" *ngFor="let p of products;let i=index">
        <div class="row">
            <div class="col">
                <div class="card-body">
                    <h4 class="card-title">{{p.productname}}</h4>
                    <p class="card-text"><h5><strong>{{p.price | currency:'USD'}}</strong></h5>
                    <p class="card-text">Available: <strong>{{p.productquantity}}</strong></p>
                  </div>
            </div>
            <div class="col text-center addtocart">
                
                    <form>                        
                        <div class="row">
                            <div class="col">
                            </div>
                            <div class="col">
                                
                                <select class="productquantitybox" #quantity2>
                                    <option *ngFor="let t of [].constructor(p.productquantity); let x = index" value={{x+1}}>{{x+1}}</option>
                                </select>
                                <button type="submit" class="btn btn-primary" (click)="onSubmit(quantity2.value,p.productid)" *ngIf="user!=null">Add to Cart</button>
                            </div>
                        </div>
                        
                        
                    </form>

                
                
            </div>
        </div>
        
      </div>
</div>