<section class="home text-center">
    <div class="container">
        <h1 *ngIf="user!=null">Hi {{user.firstname}}!</h1>
        <h1>Welcome to Kitchen Story</h1>
        <br>
    </div>
    <div class="container text center">
        <a routerLink="/products"><button type="button" class="btn btn-success">Start Shopping!</button></a>
        
    </div>
    <br>
    <div class="container text center">
        <a routerLink="/login"><button type="button" class="btn btn-primary" *ngIf="user==null">Login!</button></a>
    </div>
</section>
