<div class="container mt-5">
    <div class="input-group mb-3">
        <input type="text" class="form-control" #searchproduct>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" (click)="getSearchProduct(searchproduct.value)">Search</button>
        </div>
      </div>
</div>
<div class="container" >
    <div class="card" *ngFor="let p of products;let i=index">
        <div class="row">
            <div class="col">
                <div class="card-body">
                    <h5 class="card-title">{{p.productname}}</h5>
                    <p class="card-text">Item Price: <strong>{{p.price | currency:'USD'}}</strong></p>
                    <p class="card-text">Available: <strong>{{p.productquantity}}</strong></p>
                    <p class="card-text">Type: {{p.productdetail[0].type}}</p>
                  </div>
            </div>
            <div class="col text-center addtocart">
                
                    <form>                        
                        <div class="row">
                            <div class="col">
                            </div>
                            <div class="col">
                                <select class="productquantitybox" #quantity2>
                                    <option *ngFor="let t of [].constructor(p.productquantity); let x = index" value={{x+1}}>{{x+1}}</option>
                                </select>
                                <button type="submit" class="btn btn-primary" (click)="onSubmit(quantity2.value,p.productid)" *ngIf="user!=null">Add to Cart</button>
                            </div>
                        </div>
                        
                        
                    </form>

                
                
            </div>
        </div>
        
      </div>
</div>